<ng-include src="'dashboard/poolstats.html'"></ng-include>
<div layout-md="column" layout-sm="column" layout-xs="column" layout="row" flex>
	<div layout="column" flex="100" flex-gt-lg="30">
		<md-card>
			<md-toolbar class="md-table-toolbar md-default">
			  <div class="md-toolbar-tools">
			    <span class="md-title">Network Stats</span></span>
			  </div>
			</md-toolbar>
			<md-card-content>
				<md-list>
					<md-list-item>
						<p> Hash Rate </p>
						<p class="text-right">{{network.difficulty | difficultyToHashRate | toHashRate}}</p>
					</md-list-item>
					<md-list-item>
						<p> Difficulty </p>
						<p class="text-right">{{network.difficulty | number }}</p>
					</md-list-item>
					<md-list-item>
						<p> Hash </p>
						<p class="text-right truncate"><span ng-bind-html="network.hash | hashToLink: 'block'"></span></p>
					</md-list-item>
					<md-list-item>
						<p> Height </p>
						<p class="text-right">{{network.height | number }}</p>
					</md-list-item>
					<md-list-item>
						<p> Reward </p>
						<p class="text-right">{{network.value | toXMR}}</p>
					</md-list-item>
					<md-list-item>
						<p> Time Found </p>
						<p class="text-right"><span am-time-ago="network.ts * 1000"></span></p>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
	<div layout="column" flex="100" flex-gt-lg="70">
		<md-card>
			<md-toolbar class="md-table-toolbar md-default">
			  <div class="md-toolbar-tools">
			    <span class="md-title">Pool Stats</span>
			  </div>
			</md-toolbar>
			<md-card-content>
				<md-tabs md-dynamic-height>
					<md-tab label="{{pooltype}}" index="$index" ng-repeat="pooltype in poolList track by $index">
						<div layout-xs="column" layout-sm="column" layout="row" flex>
							<div layout-xs="row" layout-sm="row" layout="column" flex>
								<md-list flex>
									<md-list-item>
										<p> Hash Rate </p>
										<p class="text-right">{{ poolStats[pooltype].pool_statistics.hashRate | toHashRate }}</p>
									</md-list-item>
									<md-list-item>
										<p> Height </p>
										<p class="text-right">{{poolStats[pooltype].pool_statistics.lastBlockFound | number}}</p>
									</md-list-item>
									<md-list-item>
										<p> Last Block </p>
										<p class="text-right truncate"><span ng-bind-html="lastBlock[pooltype].hash | hashToLink: 'block'"></span></p>
									</md-list-item>
									<md-list-item>
										<p> Block Reward </p>
										<p class="text-right">{{lastBlock[pooltype].value | toXMR | number:10}} XMR</p>
									</md-list-item>
									<md-list-item>
										<p> Time Found </p>
										<p class="text-right">
											<span class="label-text" am-time-ago="poolStats[pooltype].pool_statistics.lastBlockFoundTime * 1000" uib-tooltip="{{poolStats[pooltype].pool_statistics.lastBlockFoundTime*1000 | date:'hh:mm:ss dd/mm/yy'}}" tooltip-placement="bottom">Never</span>
										</p>
									</md-list-item>
								</md-list>
							</div>
							<div layout-xs="row" layout-sm="row" layout="column" flex>
								<md-list flex>
									<md-list-item>
										<p> Fees </p>
										<p class="text-right">{{ poolStats[pooltype].pool_statistics.fee }} %</p>
									</md-list-item>
									<md-list-item>
										<p> Blocks Found </p>
										<p class="text-right">{{ poolStats[pooltype].pool_statistics.totalBlocksFound || '0' }}</p>
									</md-list-item>
									<md-list-item>
										<p> Miners </p>
										<p class="text-right">{{ poolStats[pooltype].pool_statistics.miners || '0' }}</p>
									</md-list-item>
									<md-list-item>
										<p> Miners Paid </p>
										<p class="text-right">{{ poolStats[pooltype].pool_statistics.totalMinersPaid || '0' }}</p>
									</md-list-item>
									<md-list-item>
										<p> Payments sent </p>
										<p class="text-right">{{ poolStats[pooltype].pool_statistics.totalPayments || '0' }}</p>
									</md-list-item>
								</md-list>
							</div>
						</div>
					</md-tab>
				</md-tabs>
			</md-card-content>
		</md-card>
	</div>
</div>

<form layout layout-align="center" layout-padding>
    <div layout="row" flex>
        <md-input-container flex class="md-icon-float md-block md-title">
            <label>Enter Payment Address</label>
            <!-- below is the material icons -->
            <md-icon class="material-icons">multiline_chart</md-icon>
            <input type="text" ng-model="paymentAddress">
        </md-input-container>
        <div>
            <md-button class="md-raised md-warn" ng-click="addAddress()">
                <md-icon md-font-set="material-icons">add</md-icon>
				Track Live Stats
            </md-button>
        </div>
    </div>  
</form>

<div layout-md="column" layout-sm="column" layout-xs="column" layout="row" flex ng-repeat="(key,miner) in trackedAddresses">
	<div layout="column" flex>
		<md-card>
			<md-toolbar class="md-accent">
			  <div class="md-toolbar-tools">
			    <span class="md-title">{{key}}</span></span>
			  </div>
			</md-toolbar>
			<md-card-content>
				<md-list>
					<md-list-item>
						<p> Hash Rate </p>
						<p class="text-right">{{miner.hash | toHashRate}}</p>
					</md-list-item>
					<md-list-item>
						<p> Total Hashes </p>
						<p class="text-right">{{miner.totalHashes | number}}</p>
					</md-list-item>
					<md-list-item>
						<p> Total Due </p>
						<p class="text-right">{{miner.amtDue | toXMR | number:10}} XMR</p>
					</md-list-item>
					<md-list-item>
						<p> Total Paid </p>
						<p class="text-right">{{miner.amtPaid | toXMR | number:10}} XMR<</p>
					</md-list-item>
					<md-list-item>
						<p> Last Hash </p>
						<p class="text-right"><span am-time-ago="miner.lastHash * 1000" uib-tooltip="{{miner.lastHash*1000 | date:'hh:mm:ss dd/mm/yy'}}" tooltip-placement="bottom"></span></p>
					</md-list-item>
					<md-list-item>
						<p> Alarm </p>
						<p class="text-right"><md-checkbox ng-model="miner.alarm" ng-change="setAlarm(key, miner.alarm)"/></p>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>
</div>